
Vehicles = ["Car","Bus","Van","Scooty","Bike"]
print(Fruit,Vehicles)

In [3]:
Fruit.insert(3,"Cherry")
Vehicles.insert(3,"Scooty")
print(Fruit,Vehicles)

['Apple', 'Grapes', 'Pineapple', 'Cherry', 'Kiwi'] ['Car', 'Bus', 'Van', 'Scooty', 'Bike']

In [5]:
set1 = {45,89,67,324,768,246,908}
set2 = {90,45,67,78,345,789,875}
set3 = {343,12,13,24,35,98,77}
set4 = {56,45,23,12,89,654,7899}
print(set1,set2,set3,set4)

{768, 67, 324, 246, 89, 908, 45} {67, 789, 345, 90, 875, 45, 78} {98, 35, 13, 343, 24, 12, 77} {23, 56, 89, 7899, 12, 45, 654}

In [7]:
A1 = set1 | set2 | set3 | set4
A1 = set1 & set2 & set3 & set4
A1 = set1 ^ set2 ^ set3 ^ set4
print(A1)

{768, 324, 908, 13, 654, 77, 78, 789, 23, 343, 24, 7899, 345, 90, 98, 35, 875, 45, 246, 56}

In [9]:
set1.update(set2)
print(set1)

{768, 67, 324, 345, 875, 908, 45, 78, 789, 246, 89, 90}

In [11]:
set3.update(set4)
print(set3)

{98, 35, 12, 13, 77, 45, 654, 23, 343, 24, 89, 56, 7899}

In [19]:
Fruit.extend(Vehicles)
print(Fruit)

['Apple', 'Grapes', 'Pineapple', 'Cherry', 'Kiwi', 'Car', 'Bus', 'Van', 'Scooty', 'Bike', 'Car', 'Bus', 'Van', 'Scooty', 'Bike', 'Car', 'Bus', 'Van', 'Scooty', 'Bike']

In [207]:
Subject1 = ["Maths","Science","English","Hindi"]
Subject2 = ["Geography","History","Political","Biology"]

In [209]:
Subject1.extend(Subject2)
print(Subject1)

['Maths', 'Science', 'English', 'Hindi', 'Geography', 'History', 'Political', 'Biology']

In [211]:
Subject1.insert(4,"Physics")
Subject2.insert(4,"Coding")
print(Subject1,Subject2)

['Maths', 'Science', 'English', 'Hindi', 'Physics', 'Geography', 'History', 'Political', 'Biology'] ['Geography', 'History', 'Political', 'Biology', 'Coding']

In [213]:
Subject1.pop(3)
Subject2.pop(3)
print(Subject1,Subject2)

['Maths', 'Science', 'English', 'Physics', 'Geography', 'History', 'Political', 'Biology'] ['Geography', 'History', 'Political', 'Coding']

In [215]:
Subject1.sort( reverse=True)
Subject2.sort( reverse=True)
print(Subject1,Subject2)

['Science', 'Political', 'Physics', 'Maths', 'History', 'Geography', 'English', 'Biology'] ['Political', 'History', 'Geography', 'Coding']

## Dictonary and set

In [199]:
Info = {"Name" : "Pratiksha",
        "Pursing" : "Bachelor of computer science",
        "College" : "Ambedkar College Nagpur",
        "Hobby" : "Skecthing",
        "Age" : 19,
        "Adult" : "True",
        "Subjects" : ["Data structure","Python","C++","Java"],
        "Tuple" : ("Apple","Banana","Cherry"),
        12.44 : 56,
       }
print(Info)

{'Name': 'Pratiksha', 'Pursing': 'Bachelor of computer science', 'College': 'Ambedkar College Nagpur', 'Hobby': 'Skecthing', 'Age': 19, 'Adult': 'True', 'Subjects': ['Data structure', 'Python', 'C++', 'Java'], 'Tuple': ('Apple', 'Banana', 'Cherry'), 12.44: 56}

In [65]:
print(type(Info))
print(Info["Subjects"])
print(Info["Name"])
print(Info["Hobby"])
print(Info["Tuple"])

<class 'dict'>
['Data structure', 'Python', 'C++', 'Java']
Pratiksha
Skecthing
('Apple', 'Banana', 'Cherry')

In [71]:
Info["Name"] = "Pratiksha"
Info["Surname"] = "Raut"
print(Info)

{'Name': 'Pratiksha', 'Pursing': 'Bachelor of computer science', 'College': 'Ambedkar College Nagpur', 'Hobby': 'Skecthing', 'Age': 19, 'Adult': 'True', 'Subjects': ['Data structure', 'Python', 'C++', 'Java'], 'Tuple': ('Apple', 'Banana', 'Cherry'), 12.44: 56, 'Surname': 'Raut'}

In [91]:
Null_dict = {}
print(Null_dict)

{}

In [97]:
Student = { "Name" : "Pratiksha",
           "Subjects" : {
               "phy" : 97,
               "chem" : 96,
               "math" : 98,
           }
          }
print(Student)
print(Student["Subjects"]["chem"])

{'Name': 'Pratiksha', 'Subjects': {'phy': 97, 'chem': 96, 'math': 98}}
96

In [1]:
print(Student.keys())
print(Student.values())
Info.update(Student)
print(Info)
print(len("Student"))
print(len("Info"))
print(Student.items())
print(Info.items())
pairs = list(Student.items())
print(pairs[1])
print(Student.get("Name"))
print(Student.get("Subjects"))

NameError: name 'Student' is not defined

In [172]:
new_dict = {"Name" : "Nandini", "Age" : 19}
Student.update(new_dict)
print(Student)

{'Name': 'Nandini', 'Subjects': {'phy': 97, 'chem': 96, 'math': 98}, 'Age': 19}

In [180]:
set1 = {1,2,2,2} #Repeated element stored only once
print(set1)

{1, 2}

## Let's Practise

In [230]:
# You are given a list od subjects for students. Assume one classrooms is required for 1 subject. How ,amy classrooms are needed by all student.
# "python","java","C++","python","javascript","java","python","java","C++","C"

In [238]:
Subjects = {
    "python","java","C++","python","javascript","java","python","java","C++","C"
}
print(Subjects)

{'C++', 'python', 'javascript', 'C', 'java'}

In [240]:
print(len("Subjects"))

8

In [7]:
Name = "Pratiksha"
Age = 18
Education  = "Bachelore of computer application"
print(Name)
print(Age)
print(Education)

Pratiksha
18
Bachelore of computer application

In [17]:
# Write a program to input 2 numbers and print their sum.
First = int(input("Enter first num:"))
Second = int(input("Enter second num:"))
print("sum=",First + Second )
print(sum)

Enter first num: 45
Enter second num: 32

sum= 77
<built-in function sum>

In [1]:
#Write a program to input 21 floating point numbers and print their average.
a = float(input("enter first:"))
b = float(input("enter second:"))
avg = a+b/2
print(avg)

enter first: 8
enter second: 7

11.5

In [5]:
# Write a program to input 2 int numbers a and b print true if a is greater than or equal to b if not print false.
a = int(input("enter first:"))
b = int (input("enter second:"))
print(a>=b)

enter first: 6
enter second: 7

False

In [17]:
def sum(a,b):
    s = a+b
    return s
print(sum(5,8))

13

In [3]:
def avg(a,b):
    t = a+b/2
    return t 
print(avg(90,80))
print(avg(30,600))

def product(a,b,c):
    s = a-b-c
    return s
print(product(90,80,70))
print(product(50,30,20))

130.0
330.0
-60
0

In [1]:
list1 = [23,98,87,35,46,76]
list2 = [56,89,90,10,30,32]
print(list1)
print(list2)
list1.extend(list2)
print(list1)
list2.extend(list1)
print(list2)

[23, 98, 87, 35, 46, 76]
[56, 89, 90, 10, 30, 32]
[23, 98, 87, 35, 46, 76, 56, 89, 90, 10, 30, 32]
[56, 89, 90, 10, 30, 32, 23, 98, 87, 35, 46, 76, 56, 89, 90, 10, 30, 32]