In [1]:
list1 = [66,45,29,87,10,35]
list2 = [46,90,20,40,54,93]
print(list1)
print(list2)
list1.sort()
list2.sort()
print(list1)
print(list2)

[66, 45, 29, 87, 10, 35]
[46, 90, 20, 40, 54, 93]
[10, 29, 35, 45, 66, 87]
[20, 40, 46, 54, 90, 93]

In [3]:
list1.insert(1,9)
print(list1)
list2.insert(5,86)
print(list2)
list1.extend(list2)
print(list1)
list2.extend(list1)
print(list2)
list1.append(9)

[10, 9, 29, 35, 45, 66, 87]
[20, 40, 46, 54, 90, 86, 93]
[10, 9, 29, 35, 45, 66, 87, 20, 40, 46, 54, 90, 86, 93]
[20, 40, 46, 54, 90, 86, 93, 10, 9, 29, 35, 45, 66, 87, 20, 40, 46, 54, 90, 86, 93]

In [4]:
list1.remove(10)
print(list1)

[9, 29, 35, 45, 66, 87, 20, 40, 46, 54, 90, 86, 93, 9]

In [7]:
list1.remove(10)
print(list1)

ValueError: list.remove(x): x not in list

In [ ]:
Tuple = ()
print(Tuple)

In [10]:
Tuple1 = ("Cheery","Kiwi","Papaya","Apple")
print(Tuple1)
len(Tuple1)

('Cheery', 'Kiwi', 'Papaya', 'Apple')

4

In [12]:
Tuple2 = list(Tuple1)
print(Tuple2)
Tuple2.append("Orange")
print(Tuple2)
Tuple1 = tuple(Tuple2)
print(Tuple1)
len(Tuple1)
Tuple1[1:4]

['Cheery', 'Kiwi', 'Papaya', 'Apple']
['Cheery', 'Kiwi', 'Papaya', 'Apple', 'Orange']
('Cheery', 'Kiwi', 'Papaya', 'Apple', 'Orange')

('Kiwi', 'Papaya', 'Apple')

In [14]:
Vehicle = ("Van","Car","Bike","Truck")
print(Vehicle)
(Van,Car,Bike,Truck) = Vehicle
print(Bike,Car)
(Van,*Car) = Vehicle
print(Van)
print(Car)

('Van', 'Car', 'Bike', 'Truck')
Bike Car
Van
['Car', 'Bike', 'Truck']

In [16]:
Num1 = (35,87,98,30,20)
print(Num1)
Num1.count(30)
Num1.index(30)

(35, 87, 98, 30, 20)

3

In [18]:
Stores = ("Bedsheet","Knife","Spoon","Toys","Covers")
print(Stores)
Store1 = list(Stores)
print(Store1)
Store1.sort()
print(Store1)

('Bedsheet', 'Knife', 'Spoon', 'Toys', 'Covers')
['Bedsheet', 'Knife', 'Spoon', 'Toys', 'Covers']
['Bedsheet', 'Covers', 'Knife', 'Spoon', 'Toys']

In [20]:
len(Store1)
Store1.append("Sofa")
print(Store1)
Store1.insert(2,"Cushion")
print(Store1)
Store1.remove("Covers")
print(Store1)
Store1.pop(0)
print(Store1)

['Bedsheet', 'Covers', 'Knife', 'Spoon', 'Toys', 'Sofa']
['Bedsheet', 'Covers', 'Cushion', 'Knife', 'Spoon', 'Toys', 'Sofa']
['Bedsheet', 'Cushion', 'Knife', 'Spoon', 'Toys', 'Sofa']
['Cushion', 'Knife', 'Spoon', 'Toys', 'Sofa']

In [22]:
Stores = tuple(Store1)
print(Stores)

('Cushion', 'Knife', 'Spoon', 'Toys', 'Sofa')

## 

Set

In [25]:
Set1 = {"Van","Car","Bike","Truck"}
print(Set1)
type(Set1)

{'Car', 'Truck', 'Van', 'Bike'}

set

In [27]:
Set1.add("Scooty")
print(Set1)
print('bike' in Set1)
print('Bike' in Set1)

{'Scooty', 'Van', 'Car', 'Truck', 'Bike'}
False
True

In [29]:
Vehicle = list(Set1)
print(Vehicle)
Vehicle.remove("Bike")
print(Vehicle)

['Scooty', 'Van', 'Car', 'Truck', 'Bike']
['Scooty', 'Van', 'Car', 'Truck']

In [31]:
Set1 = set(Vehicle)
print(Set1)

{'Car', 'Truck', 'Scooty', 'Van'}

In [33]:
Set2 = {34,28,87,26,46}
Set3 = {44,99,80,70,20}
Set2.update(Set3)
print(Set2)
Set4 = Set2 | Set3
Set4 = Set2 & Set3
Set4 = Set2 ^ Set3
Set4 = Set2 - Set3
print(Set4)

{34, 99, 70, 44, 46, 80, 20, 87, 26, 28}
{34, 46, 87, 26, 28}

In [35]:
Set2.union(Set3,Set1)

{20, 26, 28, 34, 44, 46, 70, 80, 87, 99, 'Car', 'Scooty', 'Truck', 'Van'}

In [37]:
Set2.intersection(Set3,Set1)

set()

## Dictionary

In [40]:
dic = {"key":"Value"}
type(dic)

dict

In [42]:
dic = {"key1":"Value1","key2":"Value2","key3":"Value3"}
len(dic)

3

In [44]:
dic.items()

dict_items([('key1', 'Value1'), ('key2', 'Value2'), ('key3', 'Value3')])

In [46]:
dic["key2"]

'Value2'

In [48]:
dic.keys()

dict_keys(['key1', 'key2', 'key3'])

In [50]:
dic.values()

dict_values(['Value1', 'Value2', 'Value3'])

In [52]:
Employee = {"Name":"Pratiksha","Salary":"60k","Employee id":"435"}
print(Employee)
Employee["Salary"]

{'Name': 'Pratiksha', 'Salary': '60k', 'Employee id': '435'}

'60k'

In [54]:
Employee["Dept"] = "Computer"
print(Employee)

{'Name': 'Pratiksha', 'Salary': '60k', 'Employee id': '435', 'Dept': 'Computer'}

In [56]:
Employee.pop("Dept")

'Computer'

In [58]:
Employee.values()

dict_values(['Pratiksha', '60k', '435'])

In [60]:
A = {"a":{"b":{"c":{"d":123456}}}}
print(A)

{'a': {'b': {'c': {'d': 123456}}}}

In [62]:
A["a"]["b"]

{'c': {'d': 123456}}

In [64]:
A["a"]["b"]["c"]["d"]

123456

In [66]:
#Access the nested key increment from the following dictionary Access 12
emp_dic = {"Company":{"employee":{"names":"Jess","payable":{"salary":9000,"increment":12}}}}
print(emp_dic)

{'Company': {'employee': {'names': 'Jess', 'payable': {'salary': 9000, 'increment': 12}}}}

In [68]:
emp_dic["Company"]["employee"]["payable"]["increment"]

12

In [70]:
emp_dic.keys()

dict_keys(['Company'])

In [72]:
Company_dict = {
    "company":{
        "employees":[
            {
                "id":1,
                "details":{
                    "names":"Jess",
                    "payable":{
                        "salary":17000,
                        "increment":60
                    }
                }
            },
            {
                "id":2,
                "details":{
                    "names":"Mike",
                    "payable":{
                        "salary":80000,
                        "increment":10
                    }
                }
            }
        ]
    }
}
print(Company_dict)

{'company': {'employees': [{'id': 1, 'details': {'names': 'Jess', 'payable': {'salary': 17000, 'increment': 60}}}, {'id': 2, 'details': {'names': 'Mike', 'payable': {'salary': 80000, 'increment': 10}}}]}}

In [74]:
Company_dict.keys()

dict_keys(['company'])

In [76]:
Company_dict["company"]

{'employees': [{'id': 1,
   'details': {'names': 'Jess',
    'payable': {'salary': 17000, 'increment': 60}}},
  {'id': 2,
   'details': {'names': 'Mike',
    'payable': {'salary': 80000, 'increment': 10}}}]}

In [78]:
Company_dict["company"]["employees"][1]["details"]["payable"]["increment"]

10

In [80]:

Company_dict["company"]["employees"][0]["details"]["payable"]["increment"]

60

In [82]:
l = [3,4,5,6,7 ,[23,456,67,8,78,78],[345,56,87,8,98,9],(234,6657,6),{"key1":"Sudh",234:[23,45,656]}]
print(l)

[3, 4, 5, 6, 7, [23, 456, 67, 8, 78, 78], [345, 56, 87, 8, 98, 9], (234, 6657, 6), {'key1': 'Sudh', 234: [23, 45, 656]}]

In [84]:
print(l[7][0])

234

In [86]:
print(l[5][1])

456

In [88]:
print(l[8]["key1"])

Sudh

In [90]:
print(l[8][234])

[23, 45, 656]

In [92]:
print(l[8][234][2])

656

In [94]:
print(l[5:7])

[[23, 456, 67, 8, 78, 78], [345, 56, 87, 8, 98, 9]]

In [96]:
print(l[7])

(234, 6657, 6)

In [98]:
list(l[8].keys())

['key1', 234]

In [100]:
list(l[8].values())

['Sudh', [23, 45, 656]]

In [102]:
Data = [42,"Hello",3.14,True,{"key":"value"},(1,2,3),None]
print(Data)

[42, 'Hello', 3.14, True, {'key': 'value'}, (1, 2, 3), None]

In [104]:
print(Data[1])

Hello

In [106]:
print(Data[3])

True

In [108]:
print(Data[4]["key"])

value

In [110]:
print(Data[5])
print(Data[5][2])

(1, 2, 3)
3

In [112]:
print(Data[6])

None

In [114]:
type(Data[5])

tuple

In [116]:
# Write a python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non empty tuples.
Samplelist = [(2,5),(1,2),(4,4),(2,3),(2,1)]
print(Samplelist)

[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

In [118]:
Samplelist.sort()
print(Samplelist)

[(1, 2), (2, 1), (2, 3), (2, 5), (4, 4)]

In [120]:
def last(n):
    return n[-1]
def sort_list_last(tuple):
    return sorted(tuple,key=last)
print(sort_list_last([(2,5),(1,2),(4,4),(2,3),(2,1)]))

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [122]:
d = {2:45,1:5,5:56,4:67}
print("Dictionary",d)
#Sorting and Printing dictionary keys
for i in sorted(d.keys()):
    print(i,end=" ")

Dictionary {2: 45, 1: 5, 5: 56, 4: 67}
1 2 4 5

## if else condition

In [125]:
a = 500
b = 200
if b>a:
    print("b is greater than a")
else:
    print("a is greater than b")

a is greater than b

In [127]:
a = input("Enter the number:")
b = input("Enter the number:")
if b<a:
    print("b is greater than a")
else:
    print("a is greater than b")

Enter the number: 78
Enter the number: 89

a is greater than b

In [190]:
num = int(input("Enter value:"))
if num % 2 == 0:
    print("num is even")
else:
    print("num is odd")

Enter value: 56

num is even

In [194]:
Total_amount = input("Enter the total amount")
print(f"Total amount is {Total_amount}")

Enter the total amount 56

Total amount is 56

In [206]:
Total_amount =int(input("Enter the total amount"))
print(f"Total amount is {Total_amount}")
if Total_amount > 900:
    price_after_discount = Total_amount * 70/100
    print(f"price after discount {price_after_discount}")
elif Total_amount <= 900 and Total_amount > 500:
    price_after_discount = Total_amount * 80/100
    print(f"price after discount {price_after_discount}")
else:
    print(f"pay full amount {Total_amount}")

Enter the total amount 789

Total amount is 789
price after discount 631.2

In [3]:
Username = "Pratiksha243"
Password = "passcode@3456"
Userid = input("Enter your username:")
Pass = input("Enter your password:")
if Username == Userid:
    print("Login")
elif Password == Pass:
    print("Login")
else:
    print("Invalid login")

Enter your username: Pratiksha243
Enter your password: passcode@3456

Login

In [23]:
# Accept an integer as input and print its square as output.
a = int(input("Enter the value of a:"))
b = 2
Square = a ** b
print(f"Square of the value a is: {Square}")

Enter the value of a: 4

Square of the value a is: 16

In [25]:
#Accept two integers as input and print their sum as output.
a = int(input("Enter the value of a:"))
b = int(input("Enter the value of b:"))
Sum = a + b
print(f"The sum of values is: {Sum}")

Enter the value of a: 3
Enter the value of b: 2

The sum of values is: 5

In [39]:
#Accept two word as input and print the two words after adding a space between them.
Name1 = input("Enter Name1:")
Name2 = input("Enter Name2:")
print(Name1+" "+Name2)

Enter Name1: Pratiksha
Enter Name2: Nandini

Pratiksha Nandini

In [3]:
#Accept the date in DD-MM-YY format as input and print the year as output.
Date = input("Enter your date of birth:")
Month = input("Enter you month of birth:")
Year = input("Enter year of birth:")
print(f"DD-MM-YY: {Date}-{Month}-{Year}")

Enter your date of birth: 24
Enter you month of birth: 08
Enter year of birth: 2005

DD-MM-YY: 24-08-2005

In [37]:
#Accept two positive integers x and y as input.Print the number of digits in x**y.
x = int(input("Enter the value x:"))
y = int(input("Enter the value y:"))
a = x**y
print(f"Number of digits in a is: {a}")

Enter the value x: 7
Enter the value y: 9

Number of digits in a is: 40353607

In [3]:
#Accept five words as input and print the sentences formed by these words after adding a space between consecutive words and full stop at the end.
Word1 = input("Enter first word:")
Word2 = input("Enter second word:")
Word3 = input("Enter third word:")
Word4 = input("Enter fourth word:")
Word5 = input("Enter fifth word:")
Sentence = Word1+" "+Word2+" "+Word3+" "+Word4+" "+Word5
print(f"Sentence is: {Sentence}")

Enter first word: i
Enter second word: am
Enter third word: a
Enter fourth word: verycool
Enter fifth word: person

Sentence is: i am a verycool person

## For loop

In [2]:
for i in range(15):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [14]:
for i in range(0,10):
    print(i)
    if i >= 8:
        break

0
1
2
3
4
5
6
7
8

In [36]:
for i in range(1,11):
    print(i*10)

10
20
30
40
50
60
70
80
90
100

In [3]:
cost_of_items = [100,200,245,300,89]
Total_sum=0
for cost in  cost_of_items:
    print(f"{Total_sum}={cost}+{Total_sum}")
    Total_sum = Total_sum+cost
    print(f"after adding values {Total_sum}")
    print("____________________")
print(f"Total number of items {Total_sum}")

0=100+0
after adding values 100
____________________
100=200+100
after adding values 300
____________________
300=245+300
after adding values 545
____________________
545=300+545
after adding values 845
____________________
845=89+845
after adding values 934
____________________
Total number of items 934

In [1]:
#Station1,,2,3,4,5
Station = ["Station1","Station2","Station3","Station4","Station5"]
for i in Station:
    print(f"Current station is:{i}")
    if i == "Station4":
        print(f"Station is arrived: {i}")
        break

Current station is:Station1
Current station is:Station2
Current station is:Station3
Current station is:Station4
Station is arrived: Station4

In [9]:
for i in range(1,11):
    print(f"The table for: {i}")
    print(i*1,"",i*2,"",i*3,"",i*4,"",i*5,"",i*6,"",i*7,"",i*8,"",i*9,"",i*10)
    print("___________________")

The table for: 1
1  2  3  4  5  6  7  8  9  10
___________________
The table for: 2
2  4  6  8  10  12  14  16  18  20
___________________
The table for: 3
3  6  9  12  15  18  21  24  27  30
___________________
The table for: 4
4  8  12  16  20  24  28  32  36  40
___________________
The table for: 5
5  10  15  20  25  30  35  40  45  50
___________________
The table for: 6
6  12  18  24  30  36  42  48  54  60
___________________
The table for: 7
7  14  21  28  35  42  49  56  63  70
___________________
The table for: 8
8  16  24  32  40  48  56  64  72  80
___________________
The table for: 9
9  18  27  36  45  54  63  72  81  90
___________________
The table for: 10
10  20  30  40  50  60  70  80  90  100
___________________

In [25]:
Reg_num = input("Enter value")
for i in range(1):
    print(Reg_num[0:2])

Enter value MP5656

MP

In [27]:
# Accept a string as input and print PALINDROME if it is a palindrome ,and NOT PALINDROME otherwise.
s = "Malayam"
Palindrome = str(input("Enter a string value:"))
Plaindrome = s
if s == Palindrome:
    print(f"Yes the value is palindrome {s}")
else:
    print(f"no the value is not palindrome {s}")

Enter a string value: Malayam

Yes the value is palindrome Malayam

In [7]:
#PALINDROME
x = str(input())
if x[::-1]==x:
    print("Palindrome")
else:
    print("Not palindrome")

 level

Palindrome

In [3]:
n = input("Enter your number:")
a = False
if len(n) == 10 and int(n[0]>5 and n.isdigit()):
    for i in range(10):
        if n.count(n[i]<8):
            a = True
            if n[i]*6 in n:
                a = False
            break
        else:
            break
if a:
    print("valid")
else:
    print("invalid")

Enter your number: 7558389780

TypeError: '>' not supported between instances of 'str' and 'int'

## While loop

In [6]:
i = 0
while(i<3):
    print(i)
    i = i+1

0
1
2

In [12]:
n = int(input("Enter the number:"))
while(i<8):
    print(i)
    i = i+1
    print("Condition is true")
else:
    print("Condition is false")

Enter the number: 76

Condition is false

In [ ]:
count = 5
while(count>=0):
    print(count)
    count - = 1
print("While loop completed")

In [29]:
#Child is learning to count 10 ruppes.
count = 10
i = 1
while(i<=10):
    print(f"Current note is: {i*10}")
    i += 1
print(f"no 10 rupees is left: {i<=10}")

Current note is: 10
Current note is: 20
Current note is: 30
Current note is: 40
Current note is: 50
Current note is: 60
Current note is: 70
Current note is: 80
Current note is: 90
Current note is: 100
no 10 rupees is left: False

In [19]:
note = 5
i = 1
while i <= note:
    print(f"Condition: {i<=note}")
    print(f"Current note {i*10}")
    i = i+1
    print("________________")
else:
    print(f"Condition :{i<=note}")
    print("No more 10 rupees left")

Condition: True
Current note 10
________________
Condition: True
Current note 20
________________
Condition: True
Current note 30
________________
Condition: True
Current note 40
________________
Condition: True
Current note 50
________________
Condition :False
No more 10 rupees left

In [11]:
Station = ["Station1","Station2","Station3","Station4","Station5"]
Current_Station = 0
Destination_station = "Station4"
while Station[Current_Station]!=[Destination_station]:
    print(f"Current_Station is :{Station[Current_Station]}")
    print(f"Destinatio _station :{Destination_station}")
    Current_Station = Current_Station+1
    print(f"Next station is: {Station[Current_Station]}")
    print("_________________")
else:
    print(f"I have arrived station: {Station[Current_Station]}")

Current_Station is :Station1
Destinatio _station :Station4
Next station is: Station2
_________________
Current_Station is :Station2
Destinatio _station :Station4
Next station is: Station3
_________________
Current_Station is :Station3
Destinatio _station :Station4
Next station is: Station4
_________________
Current_Station is :Station4
Destinatio _station :Station4
Next station is: Station5
_________________
Current_Station is :Station5
Destinatio _station :Station4

IndexError: list index out of range